*{
    margin: 0;
    padding: 0;
}
body{
    
    /* background-repeat: no-repeat; */
    background-position: center 0;
    background-attachment: fixed;
    box-sizing: content-box;
    background-image: url(/IMG_7979\ \(1\).JPG);
    background-repeat: no-repeat;
    background-size: cover ;
    margin-bottom: 10%;

}
p{
    font-size: 4rem;
    margin-left: 5%;
    text-shadow: -1px 1px 0 rgba(109, 45, 95, 0.158), 1px 1px 0  rgba(109, 45, 95, 0.158), 1px -1px 0  rgba(109, 45, 95, 0.158),-1px -1px 0 #1a1a1a;
    color: rgb(255, 185, 152);
    font-weight: 500;
    /* font-style: oblique;  */
    font-family: 'Hammersmith One', sans-serif;   
}

.btn{
    /* font-size: 1rem;
    text-decoration: none;
    color: white;
    padding: 2%;
    background-color: rgba(9, 60, 161, 0.801); */
    margin-left: 10%;
    margin-top: 5%;
    font-size: 3rem;
    padding: 0.5%;
    margin-bottom: 2%;
    background-color: rgba(125, 126, 128, 0.2);
    color: white;
}

.parrafo{
    margin-top: 10%;
    margin-bottom: 5%;
}

.boton{
    margin-top: 10%;
    margin-bottom: 10%;
}

a{
    font-size: 2.5rem;
    text-decoration: none;
    color: #1a1a1a;
    padding: 2%;
    background-color: rgba(125, 126, 128, 0.2);
    margin-left: 10%;
}
a:hover{
    transform: scale(1.1);
    background: #f57a32d2;
    color: white;
    transition: background-color 1s ease-out;
}
