body{
    font-family: 'Titillium Web', sans-serif !important;
    padding: 0 1.5em;
    background: linear-gradient(90deg, rgba(19,1,28,1) 0%, rgba(112,37,142,1) 35%, rgba(5,56,116,1) 100%);
}

h1{
    font-size: 66px !important;
    font-weight: 600 !important;
    line-height: 80px !important;
    color: white !important;
    text-shadow: -1px 1px 0 rgba(109, 45, 95, 0.158), 1px 1px 0  rgba(109, 45, 95, 0.158), 2px -2px 0  rgba(109, 45, 95, 0.158),-2px -2px 0 #1a1a1a;
}

p {
    font-size: 22px !important;
    color: #1a1a1a;
    line-height: 1.8 !important;
    margin-bottom: 0;
}
.parrafo {
    font-size: 22px !important;
    color: white;
    line-height: 1.8 !important;
    margin-bottom: 0;
}
.topmargin-sm {
    margin-top: 15px !important;
}
.topmargin-xs {
    margin-top: 30px !important;
}
.topmargin-lg {
    margin-top: 60px !important;
}
.navbar{
    /* background: linear-gradient(90deg, rgba(19,1,28,1) 0%, rgba(112,37,142,1) 35%, rgba(5,56,116,1) 100%); */
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, .05);
    min-height: 100px;
}

.navbar-brand{
    color: white !important;
    text-shadow: -1px 1px 0 rgba(109, 45, 95, 0.158), 1px 1px 0  rgba(109, 45, 95, 0.158), 2px -2px 0  rgba(109, 45, 95, 0.158),-2px -2px 0 #1a1a1a;
    font-size: 30px !important;
    font-style: italic;
}

.nav-link {
    color: #FFFFFF;
    font-weight: 600;
    font-style: oblique !important;
    text-shadow: -1px 1px 0 rgba(109, 45, 95, 0.158), 1px 1px 0  rgba(109, 45, 95, 0.158), 2px -2px 0  rgba(109, 45, 95, 0.158),-1px -1px 0 #1a1a1a;
}
.nav-link:hover {
    color: #1a1a1a;
}

.navbar-toggler {
    font-size: 40px !important;

}
/* .navbar-toggler:focus {
    outline: none ;
} */

#hero{
    /* background-image: url('/img/int-emo.jpg'); */
    /* background: linear-gradient(90deg, rgba(19,1,28,1) 0%, rgba(112,37,142,1) 35%, rgba(5,56,116,1) 100%); */
    background-size: cover;
    padding-top: 90px;
    min-height: 700px;
    color: #ffffff;
    /* opacity: 0.7; */
}

.content-center{
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
    color: #2a2a2a;
}

.boton{
    margin-top: 10%;
    margin-bottom: 10%;    
}
.boton:hover{
    transform: scale(1.1);
}

#boton1{
    font-size: 2.5rem;
    text-decoration: none;
    color: white;
    padding: 3%;
    background-color: rgba(3, 28, 78, 0.37);
    /* margin-left: 0%; */
    box-shadow: -5px -5px 10px #1a1a1a !important;
    text-shadow: -1px 1px 0 rgba(109, 45, 95, 0.158), 1px 1px 0  rgba(109, 45, 95, 0.158), 2px -2px 0  rgba(109, 45, 95, 0.158), 2px 2px 0 #1a1a1a;
}

a{
    font-size: 1.3rem ;
}

.cards{
    display: flex;
    /* flex-wrap: wrap; */
    /* margin: 2px; */
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-left: 10%;
    align-items: center !important;
}
.cards1{
    /* width: 100% !important; */
    /* margin-block: 1%; */
    padding: 2%;
    /* justify-content: space-evenly;
    justify-content: center !important; */
    /* margin-top: 3%; */
    width: 90% !important;
    height: 90% !important;
}
.card{
    width: 90% !important;
    height: 90% !important;
    /* margin-block: 1%; */
    /* box-sizing: border-box; */
    margin-bottom: 3%;
    /* padding: 10% !important; */
    /* box-shadow: -5px -5px 10px #1a1a1a !important; */
    /* background-size: cover; */
    border-radius: 2% !important;
    /* opacity: 0.8; */
    
}
.cards2{
    padding: 2%;
    width: 90% !important;
    height: 90% !important;
    /* margin-top: 18%;
    justify-content: center !important; */
}

.btn{
    font-size: 1.5rem !important;
    color: #1a1a1a !important;
    padding: 2% !important;
    background-color: lightcoral !important;
    margin-left: 37%;
    /* margin-top: 5%; */
}
.btn:hover{
    transform: scale(1.1);
}
h3{
    text-shadow: -1px 1px 0 rgba(109, 45, 95, 0.158), 1px 1px 0  rgba(109, 45, 95, 0.158), 1px -1px 0  rgba(109, 45, 95, 0.158),-1px -1px 0 #1a1a1a;
    font-weight: 500 !important;
    text-align: center;
    font-size: 2.5rem !important;
    color: rgb(243, 119, 177) !important;
    /* text-decoration: underline; */
}

.cursos{
    font-size: 4rem;
    /* text-align: center; */
    text-shadow: -1px 1px 0 rgba(109, 45, 95, 0.158), 1px 1px 0  rgba(109, 45, 95, 0.158), 2px -2px 0  rgba(109, 45, 95, 0.158),-2px -2px 0 #1a1a1a;
    color: white;
    font-weight: 500;
    /* font-style: oblique;  */
    font-family: 'Hammersmith One', sans-serif;  
    margin-bottom: 5%;
    text-align: inherit;
}
.carousel-item{
    width: 60% !important;
    height: 60% !important;
    margin-left: 20%;
    margin-bottom: 5%;
}
.carousel-control-next{
    color: #1a1a1a !important;
}
.galeria{
    margin-bottom: 5%;
    color: white !important;
    text-shadow: -1px 1px 0 rgba(109, 45, 95, 0.158), 1px 1px 0  rgba(109, 45, 95, 0.158), 2px -2px 0  rgba(109, 45, 95, 0.158),-2px -2px 0 #1a1a1a;
    font-size: 3.5rem !important;
}
.fondo{
    box-sizing: border-box;
}
.productos{
    margin-top: 5%;
    margin-bottom: 5%;
    color: white !important;
    text-shadow: -1px 1px 0 rgba(109, 45, 95, 0.158), 1px 1px 0  rgba(109, 45, 95, 0.158), 2px -2px 0  rgba(109, 45, 95, 0.158),-2px -2px 0 #1a1a1a;
    font-size: 3.5rem !important;
}
.fondo1{
    display: flex !important;
    flex-wrap: wrap !important;
}
.card1{
    align-content: center !important;
    background-color: white;
    margin-block: 3%;
    border-radius: 2%;
}
.columnas{
    /* display: flex !important;
    flex-wrap: wrap !important; */
    justify-content: space-around !important;
}

h5{
    color: #1a1a1a;
}
.botones1{
    margin-left: 37%;
    background-color: lightcoral !important;
    color: #1a1a1a !important ;
}
.botones1:hover{
    transform: scale(1.1);
}
.formulario{
    display: flex;
    flex-wrap: wrap;
}
.contacto{
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    color: #FFFFFF;
}
.formulario{
    color: #FFFFFF;
}
.container{
    max-width: 1200px !important;
    margin-left: auto !important;
    margin-right: auto;
    padding: 2em !important;
}
.h1cont{
    text-align: center;
    font-size: 3em;
    margin-bottom: 4%;
    margin-top: 5%;
}

.contacto {
    box-shadow: 0 0 20px 0 rgba(255,255,255, .3);
    background: #27111aea;
}
.contacto > * {
    padding: 1em;
}
.contacto form{
    margin: 0;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contacto form .block{
    grid-column: 1/3;
}
.contacto form button,
.contacto form input,
.contacto form textarea{
    width: 100%;
    padding: 0.7em;
    border: none;
    background: none;
    border-bottom: 1px solid #d63031;
    outline: 0;
    color: white;
}

.contacto form button:hover,
.contacto form button:focus{
    background: #d63031;
    color: white;
    transition: background-color 1s ease-out;
    outline: 0ch;    
}

.contacto form button{
    background: lightcoral;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    color: #1a1a1a;
}
.contact-info{
    background: rgba(0, 0, 0, 0.521);
}
.contact-info h4,
.contact-info ul,
.contact-info p{
    text-align: center;
    margin: 0 0 1rem 0;
}
.contact-info ul{
    list-style: none;
    padding: 0;
}
.contact-info ul li{
    padding: .3em;
}
.formulario1{
    color: #FFFFFF;
}

@media (min-width: 700px) {
    .contacto{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .contacto > *{
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p{
        padding: 1em;
        text-align: left;
    }
    
}
@media (min-width: 0px) and (max-width: 700px) {
    .cursos{
        font-size: 3em !important;
    }
    .cards1{
        width: 50%;
        height: 50%;
    }
    .btn{
        margin-right: 35% !important;
    }
}
